.serif-b{
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
}

.poppins-r{
    font-family: 'Poppins', serif;
    font-weight: 400;
}

.poppins-m{
    font-family: 'Poppins', serif;
    font-weight: 500;
}

.poppins-sb{
    font-family: 'Poppins', serif;
    font-weight: 600;
}

.poppins-xb{
    font-family: 'Poppins', serif;
    font-weight: 800;
}